body {
    width: 880px;
    display: flex;
    margin: 0 auto;
}

.cardList {
    width: 880px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    border-radius: 25px;
    width: 170px;
    border: solid;
    flex-wrap: wrap;
    flex-direction: column;
    background: blanchedalmond;
    opacity: 0.6;
    display: flex;
    border-color: slategrey;
    color: orange;
}

.card :hover {
    color: black;
}